#AppsBar
  for app in apps
    - var appURL = app.URL
    if channel
      - appURL += '/play/' + channel.name

    a(id=app.id + "AppLink",href=appURL,class=app.id == config.appId ? 'Active' : '')
      .AppIcon
        img(src=config.hubBaseURL + '/apps/' + app.id + '/Icon.png')
      .AppDetails
        .AppName= app.name
        .AppDescription= app.description
      .AppUsers
