#AppsBar
  for app in apps
    a(id=app.id + "AppLink",href=app.URL + '/play/' + channel.name,class=app.id == appId ? 'Active' : '')
      .AppIcon
        img(src=hubBaseURL + '/apps/' + app.id + '/Icon.png')
      .AppDetails
        .AppName= app.name
        .AppDescription= app.description
      .AppUsers
