extends layout

block extrahead
  title= channel.name + " - " + appTitle
  link(rel='stylesheet',href=assetFingerprint('/css/nuclearnode/channel.css'))
  link(rel='stylesheet',href=assetFingerprint('/css/main.css'))

block content
  include appsBar

  #App.Fade
    include appHeader
    
    main
      include main

  #Sidebar
    #SidebarTabButtons
      button.Active(data-tab="Chat")= i18n.t('nuclearnode:sidebarTabs.chat')
      button(data-tab="Log")= i18n.t('nuclearnode:sidebarTabs.log')
      button(data-tab="Leaderboard")= i18n.t('nuclearnode:sidebarTabs.leaderboard')
    #SidebarTabs
      #ChatTab.Active
        #ChatLogPanel
          ol#ChatLog
        #ChatInputPanel
          textarea#ChatInputBox(placeholder=i18n.t('nuclearnode:chat.typeHereToChat'))
      #LogTab
      #LeaderboardTab

  include overlay

  script(src=assetFingerprint('/js/nuclearnode/channel.js'))
  script(src=assetFingerprint('/js/main.js'))
