extends nuclearnode/index

block extrahead

block content
  h1= config.title

  form#ChooseLanguageForm(method='get',action='')
    select(name='setLng',onchange='this.form.submit()')
      option(value='')= i18n.t('nuclearnode:chooseLanguage')
      option(value='en') English
      option(value='fr') Français

  h2= i18n.t('nuclearnode:liveChannels')

  table#LiveChannels
    for channelInfo in channelInfos
      tr
        td
          span.ChannelUsers= channelInfo.users
        td
          if channelInfo.service
              a(href='/play/' + channelInfo.service + '/' + channelInfo.name)
                b= channelInfo.name
                |  
                = i18n.t('nuclearnode:channelOnService')
                |  
                = i18n.t('nuclearnode:loginServices.' + channelInfo.service)
          else
            a(href='/play/' + channelInfo.name)
              b= channelInfo.name

  h2= i18n.t('nuclearnode:createChannel.title')

  form#CreateChannelForm
    input#CreateChannelName(type="text",value="",placeholder=i18n.t('nuclearnode:createChannel.namePlaceholder'),pattern="[a-zA-Z0-9_]{1,20}",maxlength="20",title=i18n.t('nuclearnode:createChannel.nameValidChars'))
    input(type="submit",value="Go")

  footer
    .MadeWithLove= i18n.t('nuclearnode:madeWithLoveBy')
      |  
      a(href="http://sparklinlabs.com/",target="_blank") Sparklin Labs 
        img(src=assetFingerprint('/images/nuclearnode/SparklinLabsMiniLogo.png'),alt="")
        | &nbsp;

    .Links
      a(href="/credits")= i18n.t('nuclearnode:credits')
      |  &middot; 
      a(href=config.hubBaseURL + "/terms")= i18n.t('nuclearnode:terms')
