extends layout

block extrahead
  link(rel='stylesheet',href=assetFingerprint('/css/style.css'))

block content
  h1= title

  form(method='get',action='')
    select(name='setLng',onchange='this.form.submit()')
      option(value='')= i18n.t('chooseLanguage')
      option(value='en') English
      option(value='fr') Français

  p= i18n.t('helloWorld')

  script(src=assetFingerprint('/js/index.js'))
