extends layout

block head
  title= channel.name + " - " + config.title
  link(rel='stylesheet',href=assetFingerprint('/css/nuclearnode/channel.css'))
  link(rel='stylesheet',href=assetFingerprint('/css/main.css'))

  block extrahead

block body
  include partials/sidebar

  script(src=assetFingerprint('/js/nuclearnode/channel.js'))
  script(src=assetFingerprint('/js/main.js'))
