doctype html
html
  head
    meta(name='description',content=config.description)
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900',rel='stylesheet',type='text/css')
    link(rel='stylesheet',href=assetFingerprint('/css/nuclearnode/common.css'))
    script!= javascript
    script(src=assetFingerprint('/js/templates.js'))
    script(src='/i18next/i18next.js')
    script(src='/socket.io/socket.io.js')
    script(src=assetFingerprint('/js/nuclearnode/audio.js'))
    script(src=assetFingerprint('/js/nuclearnode/common.js'))

    block head

    // Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
    script(type="text/javascript").
      window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://hub.sparklinlabs.com/terms","theme":"light-bottom"};
    script(type="text/javascript",src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js")
    // End Cookie Consent plugin

  body
    include partials/appsBar

    #App.Fade
      include partials/appHeader

      main(class= isFull ? 'FullChannel' : '')
        block content

    include partials/overlay
    block body
