header
  button#ToggleMenuButton
  .AppInfo
    a.AppTitle(href="/")= config.title
    if channel
      |  / 
      span.ChannelName= channel.name
      if channel.service
        |  
        = i18n.t('nuclearnode:channelOnService')
        |  
        span.ServiceName= i18n.t('nuclearnode:loginServices.' + channel.service)
      span.ChannelUsers

  .PlayerInfo
    span.PlayerName=user.displayName
    |  
    if user.isGuest
      button#LogInButton= i18n.t('nuclearnode:login')
    else
      a(href=config.hubBaseURL + '/logout?redirect=/apps/' + config.appId + path)#LogOutLink= i18n.t('nuclearnode:logout')
