#Sidebar
  .NuclearSupportBox
    .BoxPlz= i18n.t('nuclearnode:disableAdblockerPlz')
    .BoxContent
    .BoxClose
      button × 
        = i18n.t('nuclearnode:closeThisAd')
  #SidebarTabButtons
    button.Active(data-tab="Chat")= i18n.t('nuclearnode:sidebarTabs.chat')
    button(data-tab="Settings")= i18n.t('nuclearnode:sidebarTabs.settings')
    button(data-tab="Leaderboard")= i18n.t('nuclearnode:sidebarTabs.leaderboard')
  #SidebarTabs
    #ChatTab.Active
      #ChatLogPanel
        ol#ChatLog
      #ChatInputPanel
        textarea#ChatInputBox(placeholder=i18n.t('nuclearnode:chat.typeHereToChat'))
    #SettingsTab
    #LeaderboardTab
  .StreamBox