h2= i18n.t('nuclearnode:settings.rules.title')

table
  tr
    td Setting
    td
      if app.user.role == 'host' || app.user.role == 'hubAdministrator'
        | Editable field
      else
        | Value

h2= i18n.t('nuclearnode:settings.room.title')

table
  tr
    td= i18n.t('nuclearnode:settings.room.welcomeMessage')
    td
      if app.user.role == 'host' || app.user.role == 'hubAdministrator'
        input(type="text",name="welcomeMessage",value=channel.data.welcomeMessage,maxlength="300")
      else
        .WelcomeMessage= channel.data.welcomeMessage

  tr
    td= i18n.t('nuclearnode:settings.room.guestAccess.label')
    td
      if app.user.role == 'host' || app.user.role == 'hubAdministrator'
        select(name="guestAccess")
          for option in [ 'full', 'noChat', 'deny' ]
            - var selected = option == channel.data.guestAccess
            option(value=option,selected=selected)= i18n.t('nuclearnode:settings.room.guestAccess.' + option)
      else
        .GuestAccess= i18n.t('nuclearnode:settings.room.guestAccess.' + channel.data.guestAccess)

  tr
    td= i18n.t('nuclearnode:settings.room.bannedUsers.label')
    td
      ul.BannedUsers
        if Object.keys(channel.data.bannedUsersByAuthId).length > 0
          each bannedUser, key in channel.data.bannedUsersByAuthId
            li(data-auth-id=bannedUser.authId)= bannedUser.displayName
        else
          li= i18n.t('nuclearnode:settings.room.bannedUsers.none')

if app.user.role == 'host' || app.user.role == 'hubAdministrator'
  h2= i18n.t('nuclearnode:settings.livestream.title')

  for livestream, i in channel.data.livestreams
    table(data-livestream-index=i)
        tr
          td
            if channel.data.livestreams.length > 1
              = "(" + (i + 1) + ") "
            = i18n.t('nuclearnode:settings.livestream.service')
          td
            select(name="livestreamService")
              for service in [ 'none', 'twitch', 'hitbox', 'dailymotion', 'talkgg' ]
                - var selected = service == livestream.service
                option(value=service,selected=selected)= i18n.t('nuclearnode:settings.livestream.services.' + service)
        tr(style= livestream.service == 'none' ? "display: none" : null)
          td= i18n.t('nuclearnode:settings.livestream.channel')
          td
            input(type="text",name="livestreamChannel",value=livestream.channel)
